/* header{
  background: rgb(255, 111, 0);
  padding: 1rem 0.5rem;
} */
/* Navbar links */
.topnav{
  background: #333;
  width: 100%;
  display: flex;
  padding: 0 1rem;
}
.topnav a {
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.mainpage-title{
  margin-top: 1rem;
  text-align: center;
}